<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>

        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4">
                    <%= title %>
                </h1>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-8">

                    <form method="POST" class="was-validated">
                        <div class="form-group">
                            <label for="surveyTitle" id="surveyTitle">Please enter the Survey Title</label>
                            <input type="text" class="form-control is-valid" id="surveyTitle" name="surveyTitle" value="<%= surveys.title %>" required>
                        </div>

                        <!--Question 01-->
                        <div class="form-group">
                            <label for="q1" id="questions"></label>
                            <input type="text" class="form-control" id="question1" name="question1" value="<%= surveys.q1 %>" required>
                        </div>
                        <select class="custom-select">
                    <option selected>Your answer </option>
                    <option id="q1choiceT" name="q1choiceT" value="<%= surveys.q1T %>" value="1">True</option>
                    <option id="q1choiceF" name="q1choiceF" value="<%= surveys.q1F %>" value="2">False</option>
                    <option id="q1choiceN" name="q1choiceN" value="<%= surveys.q1N %>" value="3">Prefer not to answer</option>
                  </select><br><br>

                        <!--Question 02-->

                        <div class="form-group">
                            <label for="q2" id="questions"></label>
                            <input type="text" class="form-control" id="question2" name="question2" value="<%= surveys.q2 %>" required>
                        </div>
                        <select class="custom-select">
                            <option selected>Your answer</option>
                            <option id="q2choiceT" name="q2choiceT" value="<%= surveys.q2T %>" value="1">True</option>
                            <option id="q2choiceF" name="q2choiceF" value="<%= surveys.q2F %>" value="2">False</option>
                            <option id="q2choiceN" name="q2choiceN" value="<%= surveys.q2N %>" value="3">Prefer not to answer</option>
                          </select><br><br>

                        <!--Question 03-->
                        <div class="form-group">
                            <label for="q3" id="questions"></label>
                            <input type="text" class="form-control" id="question3" name="question3" value="<%= surveys.q3 %>" required>
                        </div>
                        <select class="custom-select">
                            <option selected>Your answer</option>
                            <option id="q3choiceT" name="q3choiceT" value="<%= surveys.q3T %>" value="1">True</option>
                            <option id="q3choiceF" name="q3choiceF" value="<%= surveys.q3F %>" value="2">False</option>
                            <option id="q3choiceN" name="q3choiceN" value="<%= surveys.q3N %>" value="3">Prefer not to answer</option>
                          </select><br><br>

                        <!--Question 04-->
                        <div class="form-group">
                            <label for="q4" id="questions"></label>
                            <input type="text" class="form-control" id="question4" name="question4" value="<%= surveys.q4 %>" required>
                        </div>
                        <select class="custom-select">
                            <option selected>Your answer</option>
                            <option id="q4choiceT" name="q4choiceT" value="<%= surveys.q4T %>" value="1">True</option>
                            <option id="q4choiceF" name="q4choiceF" value="<%= surveys.q4F %>" value="2">False</option>
                            <option id="q4choiceN" name="q4choiceN" value="<%= surveys.q4N %>" value="3">Prefer not to answer</option>
                          </select><br><br>

                        <!--Question 05-->
                        <div class="form-group">
                            <label for="q5" id="questions"></label>
                            <input type="text" class="form-control" id="question5" name="question5" value="<%= surveys.q5 %>" required>
                        </div>
                        <select class="custom-select">
                            <option selected>Your answer</option>
                            <option id="q5choiceT" name="q5choiceT" value="<%= surveys.q5T %>" value="1">True</option>
                            <option id="q5choiceF" name="q5choiceF" value="<%= surveys.q5F %>" value="2">False</option>
                            <option id="q5choiceN" name="q5choiceN" value="<%= surveys.q5N %>" value="3">Prefer not to answer</option>
                          </select><br><br>

                        <button type="submit" class="btn btn-outline-success"><%= buttonName %></button>
                        <a href="/surveys" class="btn btn-outline-danger"> Cancel </a>

                    </form>
                </div>
            </div>

            <div class="buffer"></div>

        </main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>