<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main class="container">
    <div class="jumbotron">
        <h1 class="display-4"><%= title %></h1>      
    </div>
    <div class="row justify-content-md-center">
        <div class="col-8">

            <form method="POST" class="was-validated">
                <div class="form-group">
                <label for="surveyTitle" id="surveyTitle">Please enter the Survey Title</label>
                <input type="text" class="form-control is-valid" id="surveyTitle" name="surveyTitle" value="<%= surveys.title %>" required>
                 
                               
            </div>

                <!--Question 01-->
                <div class="form-group">
                    <label for="question1" id="questions">Question 1: </label>
                    <input type="text" class="form-control" id="question1" name="question1" value="<%= surveys.q1 %>" required>
                    <textarea class="form-control" id="answer1" rows="4" name="answer1" value="<%= surveys.a1 %>"hidden></textarea>                    
                </div>

                <!--Question 02-->
                <div class="form-group">
                    <label for="question2" id="questions">Question 2: </label>
                    <input type="text" class="form-control" id="question2" name="question2" value="<%= surveys.q2 %>" required>
                    <textarea class="form-control" id="answer2" rows="4" name="answer2" value="<%= surveys.a2 %>"hidden></textarea>
                </div>

                <!--Question 03-->
                <div class="form-group">
                    <label for="question3" id="questions">Question 3: </label>
                    <input type="text" class="form-control" id="question3" name="question3" value="<%= surveys.q3 %>" required>
                    <textarea class="form-control" id="answer3" rows="4" name="answer3" value="<%= surveys.a3 %>"hidden></textarea>
                </div>

                <!--Question 04-->
                <div class="form-group">
                    <label for="question4" id="questions">Question 4: </label>
                    <input type="text" class="form-control" id="question4" name="question4" value="<%= surveys.q4 %>" required>
                    <textarea class="form-control" id="answer4" rows="4" name="answer4" value="<%= surveys.a4 %>"hidden></textarea>
                </div>

                <!--Question 05-->
                <div class="form-group">
                    <label for="question5" id="questions">Question 5: </label>
                    <input type="text" class="form-control" id="question5" name="question5" value="<%= surveys.q5 %>" required>
                    <textarea class="form-control" id="answer5" rows="4" name="answer5" value="<%= surveys.a5 %>"hidden></textarea>
                </div>

                
                <button type="submit" class="btn btn-outline-success"><%= buttonName %></button>
                <a href="/surveys" class="btn btn-outline-danger"> Cancel </a>

            </form>
        </div>
    </div>

    <div class="buffer"></div>
    
</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>

