<%- include partials/header.ejs %>

    <%- include partials/main_nav.ejs %>
        <main class="container">
            <div class="jumbotron">
                <h1 class="display-4">
                    <%= surveys.title %>
                </h1>

            </div>

            <div class="row justify-content-md-center">
                <div class="col-8">

                    <form method="POST">
                        <input type="text" id="surveyTitle" name="surveyTitle" value="<%= surveys.title %>" hidden>
                        <h3>
                            <%= surveys.q1 %>
                        </h3>
                        <input type="text" id="question1" name="question1" value="<%= surveys.q1 %>" hidden>
                        <select class="custom-select">
                    <option selected>Your answer </option>
                    <option id="q1choiceT" name="q1answerT" value="<%= surveys.q1T %>" value="1">True</option>
                    <option id="q1choiceF" name="q1answerF" value="<%= surveys.q1F %>" value="2">False</option>
                    <option id="q1choiceN" name="q1answerN" value="<%= surveys.q1N %>" value="3">Prefer not to answer</option>
                  </select><br><br>


                        <h3>
                            <%= surveys.q2 %>
                        </h3>
                        <input type="text" id="question2" name="question2" value="<%= surveys.q2 %>" hidden>
                        <select class="custom-select">
                            <option selected>Your answer </option>
                            <option id="q2choiceT" name="q2answerT" value="<%= surveys.q2T %>" value="1">True</option>
                            <option id="q2choiceF" name="q2answerF" value="<%= surveys.q2F %>" value="2">False</option>
                            <option id="q2choiceN" name="q2answerN" value="<%= surveys.q2N %>" value="3">Prefer not to answer</option>
                          </select><br><br>

                        <h3>
                            <%= surveys.q3 %>
                        </h3>
                        <input type="text" id="question3" name="question3" value="<%= surveys.q3 %>" hidden>
                        <select class="custom-select">
                            <option selected>Your answer </option>
                            <option id="q3choiceT" name="q3answerT" value="<%= surveys.q3T %>" value="1">True</option>
                            <option id="q3choiceF" name="q3answerF" value="<%= surveys.q3F %>" value="2">False</option>
                            <option id="q3choiceN" name="q3answerN" value="<%= surveys.q3N %>" value="3">Prefer not to answer</option>
                          </select><br><br>

                        <h3>
                            <%= surveys.q4 %>
                        </h3>
                        <input type="text" id="question4" name="question4" value="<%= surveys.q4 %>" hidden>
                        <select class="custom-select">
                            <option selected>Your answer </option>
                            <option id="q4choiceT" name="q4answerT" value="<%= surveys.q4T %>" value="1">True</option>
                            <option id="q4choiceF" name="q4answerF" value="<%= surveys.q4F %>" value="2">False</option>
                            <option id="q4choiceN" name="q4answerN" value="<%= surveys.q4N %>" value="3">Prefer not to answer</option>
                          </select><br><br>
                        <h3>
                            <%= surveys.q5 %>
                        </h3>
                        <input type="text" id="question5" name="question5" value="<%= surveys.q5 %>" hidden>
                        <option selected>Your answer </option>
                        <option id="q5choiceT" name="q5answerT" value="<%= surveys.q5T %>" value="1">True</option>
                        <option id="q5choiceF" name="q5answerF" value="<%= surveys.q5F %>" value="2">False</option>
                        <option id="q5choiceN" name="q5answerN" value="<%= surveys.q5N %>" value="3">Prefer not to answer</option>
                        </select><br><br>

                        <button type="submit" class="btn btn-outline-success">Submit</button>
                        <a href="/home" class="btn btn-outline-danger">Cancel    </a>
                    </form>
                </div>
            </div>
            <div class="buffer"></div>
        </main>

        <%- include partials/bottom_nav.ejs %>

            <%- include partials/footer.ejs %>